<app-header></app-header>

<ion-content>
  <!-- Voici le contenu normal de la page, qui s'affiche si l'utilisateur n'est pas connecté -->
  <div *ngIf="!isConnected" class="contenu">
    <h1>
      Inscription
    </h1>
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <ion-label class="ion-margin-bottom" color="light">
        Prénom
      </ion-label>
      <ion-input type="text" formControlName="firstname"></ion-input>
      <ion-label class="ion-margin-bottom" color="light">
        Nom
      </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
      <ion-label class="ion-margin-bottom" color="light">
        Sexe
      </ion-label>
      <ion-select class="ion-hide-sm-up" formControlName="sex">
        <ion-select-option value="0">Homme</ion-select-option>
        <ion-select-option value="1">Femme</ion-select-option>
        <ion-select-option value="2">Autre</ion-select-option>
      </ion-select>
      <select class="ion-hide-sm-down" formControlName="sex">
        <option value="" selected="selected">Veuillez sélectionner une valeur</option>
        <option value="0">Homme</option>
        <option value="1">Femme</option>
        <option value="2">Autre</option>
      </select>
      <ion-label class="ion-margin-bottom" color="light">
        Email
      </ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <!-- Le bloc suivant apparaît quand l'utilisateur tente de valider alors qu'il a entré un mot de passe trop faible -->
      <ion-text *ngIf="passwordRule" id="passwordRule">
        <p>
          Votre mot de passe doit faire 8 caractères au minimum et contenir au moins une majuscule, une minuscule, un
          chiffre et un caractère spécial
        </p>
      </ion-text>
      <ion-label class="ion-margin-bottom" color="light">
        Mot de passe
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-label class="ion-margin-bottom" color="light">
        Vérifier mot de passe
      </ion-label>
      <ion-input (keyup)="registerKey($event)" type="password" formControlName="passwordCheck"></ion-input>
      <div>
        <ion-button [disabled]="!this.isValid" type="submit" size="large">
          Valider
        </ion-button>
      </div>
    </form>
  </div>
  <!-- S'il est connecté, on ne donne pas accès à cette requête -->
  <div *ngIf="isConnected" class="contenu">
    <h1>Vous êtes déjà connectés</h1>
  </div>
</ion-content>