<ion-header>
    <ion-grid>
        <ion-row class="ion-justify-content-between">
            <ion-col>
                <div>
                    <ion-img *ngIf="isConnected" (click)="disconnect()" src="/assets/images/logoDeco.png" alt="Déconnexion" class="ion-hide-sm-down clickable"></ion-img>
                    <ion-img routerDirection="back" [routerLink]="['/home']" src="/assets/images/logo.png" alt="Retour à l'accueil" id="logo" class="clickable"></ion-img>
                </div>
            </ion-col>
            <ion-col>
                <div class="ion-hide-sm-down" width-sm="0">
                    <ion-button *ngIf="!isConnected" [routerLink]="['/inscription']">
                        S'inscrire
                    </ion-button>
                    <ion-button *ngIf="!isConnected" [routerLink]="['/authentification']">
                        Se connecter
                    </ion-button>
                    <ion-button *ngIf="isConnected" [routerLink]="['/infos-user']">
                        {{user.firstname}}
                    </ion-button>
                    <ion-img [routerLink]="['/panier']" src="/assets/images/panier.png" alt="Panier" class="clickable"></ion-img>
                    <ion-img [src]="avatar" alt="Avatar"></ion-img>
                </div>
                <img [src]="avatar" alt="Avatar" class="ion-hide-sm-up">
                <ion-icon (click)="menuPopover($event)" name="menu-outline" class="ion-hide-sm-up" size-sm="1"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
