ion-header {
    background-color:#324553;
 }

 .clickable {
     cursor:pointer;
 }

ion-img , img{
    max-width:40px;
    max-height:40px;
    margin-right:0px;
}

ion-icon {
    font-size:40px;
}

ion-icon , div.ion-hide-sm-down {
    position:absolute;
    right:0px;
    margin-right:0px;
}

div {
    display:flex;
    flex-direction:row;
}

div > * {
    margin:auto 7px auto 7px;
}
