 <app-header></app-header>

    
<ion-content class="ion-text-center">

<div class="contenu">
  <p>Nombre limite de repas :</p>
  <ion-item id="input" class="ion-margin-vertical">
    <ion-input placeholder=".." type="number"></ion-input>
  </ion-item>
  <ion-button color="primary"><b></b>Valider</ion-button><br><br>

  <p>Horaire limite de commande :</p>
  <ion-item id="input" class="ion-margin-vertical">
    <ion-input id="hor" placeholder="hh" type="number" min="00" max="23"></ion-input>
  </ion-item>
  <p>h</p>  
  <ion-item id="input" class="ion-margin-vertical">
    <ion-input id="hor" placeholder="mm" type="number" min="00" max="23"></ion-input>
  </ion-item>
  <ion-button color="primary"><b></b>Valider</ion-button><br><br>
</div>
 
</ion-content>
