// ion-content {
//     --background: url("../../assets/images/wallpaper_terne.jpg") no-repeat center center / cover;
// }

.contenu {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
    color:white;
    text-align:center;
    margin:auto;
}

ion-button{
  margin:auto;
  margin-top:15px;
  display:block;
  width:130px;
  height:55px;
  font-size:15px;
  text-transform: none;
}

ion-input {
  background-color: white;
  --padding-start:16px;
  
}


@media (max-width:576px){
  h1 {
    font-size:30px;
    margin-top:10px;
  }

  form {
    width:90%;
    margin:auto;
  }

  ion-input {
    border-radius:10px;
    margin-bottom:10px;
  }
}


@media (min-width:576px){
  h1 {
    font-size:60px;
    margin-top:30px;
    margin-bottom:30px;
  }

  form {
    max-width:800px;
    margin:auto;
  }

  ion-input {
    margin-bottom:40px;
  }

  #buttons {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    max-width:50%;
    margin:auto;
  }
}






