<ion-list color="primary">
  <ion-item [routerLink]="['/panier']" (click)="close()" color="primary">Panier</ion-item>
  <ion-item *ngIf="!isConnected" [routerLink]="['/inscription']" (click)="close()" color="primary">S'inscrire</ion-item>
  <ion-item *ngIf="!isConnected" [routerLink]="['/authentification']" (click)="close()" color="primary">Se connecter</ion-item>
  <ion-item *ngIf="isConnected" [routerLink]="['/infos-user']" (click)="close()" color="primary">{{user.firstname}}</ion-item>
  <ion-item *ngIf="isConnected" (click)="disconnect()" color="primary">Déconnexion</ion-item>
</ion-list>